<div id="12-east-82nd-street-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-1.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-1.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-2.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-2.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-3.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-3.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-4.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-4.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-5.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-5.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-6.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-6.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-7.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-7.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-8.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-8.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-9.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-9.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-10.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-10.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-11.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-11.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-12.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-12.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-13.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-13.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-14.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-14.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-15.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-15.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-16.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-16.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-17.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-17.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-18.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-18.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-19.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-19.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-20.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-20.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-21.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-21.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-22.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-22.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-23.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-23.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-24.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-24.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-25.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/12-east-82nd-street/12-east-82nd-street-25.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
