<div id="464-greenwich-open" class="my-gallery" tabindex="-1" role="dialog" aria-hidden="true">

  <div id="464-greenwich" class="carousel carousel-port slide" data-ride="carousel">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="fas fa-times"></i>
      Close
    </button>

    <div class="carousel-inner">

    <div class="carousel-item active">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-1.jpg">
            <img class="lazy d-block w-100" data-src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-1.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-2.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-2.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-3.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-3.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-4.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-4.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-5.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-5.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-6.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-6.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-7.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-7.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-8.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-8.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-9.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-9.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-10.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-10.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-11.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-11.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-12.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-12.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-13.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-13.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-14.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-14.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-15.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-15.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-16.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-16.jpg" alt="464 Greenwich" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-17.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-17.jpg" alt="464 Greenwich" />
        </a>

    </div>

  </div>

  <a class="carousel-control-prev" href="#464-greenwich" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#464-greenwich" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  </div>
</div>
