<div id="464-greenwich-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-1.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-1.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-2.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-2.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-3.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-3.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-4.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-4.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-5.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-5.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-6.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-6.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-7.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-7.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-8.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-8.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-9.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-9.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-10.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-10.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-11.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-11.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-12.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-12.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-13.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-13.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-14.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-14.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-15.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-15.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-16.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-16.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-17.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/city/464-greenwich-drexler/464-greenwich-17.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
