<ul id="rig" class="96-street-open">
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-001.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-002.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-003.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-004.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-005.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-006.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-007.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-008.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-009.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-010.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-011.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-012.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-013.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-014.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-015.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-016.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-017.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-018.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-019.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-020.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-021.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-022.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-023.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-024.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-025.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-026.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-027.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-028.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-029.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-030.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-031.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-032.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-033.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-034.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-035.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-036.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
</ul>
