<div id="ninty-six-street-open" class="my-gallery" tabindex="-1" role="dialog" aria-hidden="true">

  <div id="ninty-six-street" class="carousel carousel-port slide" data-ride="carousel">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="fas fa-times"></i>
      Close
    </button>

    <div class="carousel-inner">

    <div class="carousel-item active">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-001.jpg">
            <img class="lazy d-block w-100" data-src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-001.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-002.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-002.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-003.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-003.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-004.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-004.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-005.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-005.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-006.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-006.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-007.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-007.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-008.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-008.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-009.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-009.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-010.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-010.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-011.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-011.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-012.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-012.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-013.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-013.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-014.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-014.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-015.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-015.jpg" alt="96th Street" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-016.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/96th-street-townhouse/96th-016.jpg" alt="96th Street" />
        </a>

    </div>

  </div>

  <a class="carousel-control-prev" href="#ninty-six-street" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#ninty-six-street" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  </div>
</div>
