<div id="belle-haven-coast-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/belle-haven-coast/001.JPG" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/001.JPG" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/belle-haven-coast/002.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/002.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/belle-haven-coast/003.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/003.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/belle-haven-coast/004.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/004.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/belle-haven-coast/005.JPG" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/005.JPG" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/belle-haven-coast/006.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/006.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

</div>
