<div id="city-port" class="port-start">

  <ul id="rig" class="row">

    <!-- Photo Grid -->
    <li class="col-md-5 mx-2">
        <a class="rig-cell 432-park-avenue" data-toggle="modal" data-target="#432-park-avenue-open">
            <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/432-park-avenue/432-park-avenue-0072.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
            <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
        </a>
    </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell gramercy" data-toggle="modal" data-target="#gramercy-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/gramercy/Grm1.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell ninty-six-street" data-toggle="modal" data-target="#ninty-six-street-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/96th-street-townhouse/96th-001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <!-- <li class="col-md-5 mx-2">
          <a class="rig-cell 12-east-82nd-street" data-toggle="modal" data-target="#12-east-82nd-street-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/12-east-82nd-street/12-east-82nd-street-2.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
          </a>
      </li> -->

      <!-- Photo Grid -->
      <!-- <li class="col-md-5 mx-2">
          <a class="rig-cell 464-greenwich" data-toggle="modal" data-target="#464-greenwich-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/464-greenwich-drexler/464-greenwich-14.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
          </a>
      </li> -->

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell park-ave" data-toggle="modal" data-target="#park-ave-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/park-ave-co-op/park-ave-13.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell sleek-contemporary" data-toggle="modal" data-target="#sleek-contemporary-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/city/sleek-contemporary/Bcn_1.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open">click to see all <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close">close <i class="far fa-times-circle"></i></span>
          </a>
      </li>

  </ul>

  <button id="landing-submit-button" class="btn btn-primary landing-page-button close" type="button">Close <i class="fas fa-angle-up"></i></button>

</div>
