<ul id="rig">
    <li>
        <a class="rig-cell gramercy" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Grm1.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell 96street" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/96th-street-townhouse/96th-001.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">96th Street Townhouse</span>
        </a>
    </li>
</ul>

{% include gramercy-grid.html %}
{% include 96-street-townhouse-grid.html %}
