<div id="country-port" class="port-start">

  <ul id="rig" class="row">

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell georgian-estate" data-toggle="modal" data-target="#georgian-estate-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/georgian-estate/georgian-estate-2.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Georgian Estate</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Georgian Estate</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell 30-john-street" data-toggle="modal" data-target="#30-john-street-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/30-john-street/john-street-1.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>30 John Street</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>30 John Street</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell hamptons" data-toggle="modal" data-target="#hamptons-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/camuto-hamptons/camuto-hamptons-001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Hamptons</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Hamptons</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell belle-haven-coast" data-toggle="modal" data-target="#belle-haven-coast-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/belle-haven-coast/001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Belle Haven Coast</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Belle Haven Coast</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell century-old-chateau" data-toggle="modal" data-target="#century-old-chateau-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/century-old-chateau/001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Century Old Chateau</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Century Old Chateau</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell island-retreat" data-toggle="modal" data-target="#island-retreat-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/island-retreat/009.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Island Retreat</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Island Retreat</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell greenwich-waterfront" data-toggle="modal" data-target="#greenwich-waterfront-open">
              <img class="rig-img lazy" src="{{ site.baseurl }}images/posts/country/greenwich-waterfront/jones-000.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Greenwich Waterfront</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Greenwich Waterfront</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>

  </ul>

  <button id="landing-submit-button" class="btn btn-primary landing-page-button close" type="button">Close <i class="fas fa-angle-up"></i></button>

</div>
