<ul id="rig" class="row">
    <li class="col-md-4 mx-2">
        <a class="rig-cell georgian-estate" href="#georgian-modal" data-toggle="modal" data-target="#georgian-modal">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-1.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Georgian Estate</span>
        </a>
    </li>
    <li class="col-md-4 mx-2">
        <a class="rig-cell hamptons" href="#hamptons-modal" data-toggle="modal" data-target="#hamptons-modal">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-001.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Camuto Hamptons</span>
        </a>
    </li>
</ul>
