<div id="country-port" class="port-start">

  <ul id="rig" class="row">

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell georgian-estate" data="#georgian-estate-open">
              <img class="rig-img" src="{{ site.baseurl }}/images/posts/country/georgian-estate/georgian-estate-2.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Georgian Estate</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Georgian Estate</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>
      {% include georgian-estate-grid.html %}

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell 30-john-street" data="#30-john-street-open">
              <img class="rig-img" src="{{ site.baseurl }}/images/posts/country/30-john-street/john-street-1.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>30 John Street</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>30 John Street</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>
      {% include 30-john-street-grid.html %}

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell hamptons" data="#hamptons-open">
              <img class="rig-img" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Camuto Hamptons</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Camuto Hamptons</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>
      {% include hamptons-grid.html %}

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell belle-haven-coast" data="#belle-haven-coast-open">
              <img class="rig-img" src="{{ site.baseurl }}/images/posts/country/belle-haven-coast/001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Belle Haven Coast</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Belle Haven Coast</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>
      {% include belle-haven-coast-grid.html %}

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell century-old-chateau" data="#century-old-chateau-open">
              <img class="rig-img" src="{{ site.baseurl }}/images/posts/country/century-old-chateau/001.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Century Old Chateau</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Century Old Chateau</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>
      {% include century-old-chateau-grid.html %}

      <!-- Photo Grid -->
      <li class="col-md-5 mx-2">
          <a class="rig-cell island-retreat" data="#island-retreat-open">
              <img class="rig-img" src="{{ site.baseurl }}/images/posts/country/island-retreat/009.jpg">
              <span class="rig-overlay"></span>
              <span class="rig-text text-open"><strong>Island Retreat</strong><br>click to see all<br> <i class="far fa-play-circle"></i></span>
              <span class="rig-text text-close"><strong>Island Retreat</strong><br>close<br> <i class="far fa-times-circle"></i></span>
          </a>
      </li>
      {% include island-retreat-grid.html %}

  </ul>

  <button id="landing-submit-button" class="btn btn-primary landing-page-button close" type="button">Close <i class="fas fa-angle-up"></i></button>

</div>
