<section id="footer">
  <footer class="container">
    <div class="row">
      <div class="col-md-12 information text-center">
        <address>
          {{ site.xhema_ct_address }}<br>
          {{ site.xhema_ct_address2 }}<br>
          {{ site.xhema_ct_address3 }}<br>
          <phone>{{ site.xhema_ct_phone }}</phone><br>
          {{ site.xhema_ct_fax }}
        </address>
        <address>
          {{ site.xhema_nyc_address }}<br>
          {{ site.xhema_nyc_address2 }}<br>
          {{ site.xhema_nyc_address3 }}<br>
          <phone>{{ site.xhema_nyc_phone }}</phone><br>
          {{ site.xhema_nyc_fax }}
        </address>
        <address>
          {{ site.xhema_ny_address }}<br>
          {{ site.xhema_ny_address2 }}<br>
          {{ site.xhema_ny_address3 }}<br>
          <phone>{{ site.xhema_ny_phone }}</phone><br>
          {{ site.xhema_ny_fax }}
        </address>
        <ul class="list-inline">
          <li class="nav-item share"><div class="addthis_inline_share_toolbox"></div></li>
        </ul>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.xhema_copyright }}</p>
      </div>
    </div>
  </footer>
</section>
