<div id="georgian-estate-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-1.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-1.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-2.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-2.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-3.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-3.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-4.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-4.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-5.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-5.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-6.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-6.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-7.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-7.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-8.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-8.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-9.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-9.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-10.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-10.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-11.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/georgian-estate/georgian-estate-11.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure>

</div>
