<div id="gramercy-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-001.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-001.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-002.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-002.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-003.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-003.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-004.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-004.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-005.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-005.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-006.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-006.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-007.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-007.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-008.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-008.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-009.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-009.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-010.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-010.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-011.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-011.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-012.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-012.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-013.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-013.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-014.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-014.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-015.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-015.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-016.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/gramercy/Gramercy-016.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
