<ul id="rig" class="gramercy-open">
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Grm1.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Grm2.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Grm3.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Grm4.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Grm5.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-001.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-002.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-003.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-004.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-005.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-006.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-007.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-008.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-009.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-010.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-011.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-012.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-013.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-014.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-015.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-016.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/gramercy/Gramercy-017.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Gramercy</span>
        </a>
    </li>
</ul>
