<ul id="rig" class="hamptons-open">
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-001.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-003.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-004.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-005.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-006.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-007.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-008.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-009.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="{{ site.baseurl }}/images/posts/camuto-hamptons/camuto-hamptons-010.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Hamptons</span>
        </a>
    </li>
</ul>
