<div id="hamptons-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-001.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-001.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-003.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-003.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-004.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-004.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-005.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-005.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-006.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-006.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-007.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-007.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-008.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-008.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-009.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-009.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-010.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/camuto-hamptons/camuto-hamptons-010.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
