
<div id="carouselExampleIndicators" class="carousel mr-auto ml-auto carousel-fade" data-ride="carousel">
  <div class="carousel-inner text-center mb-5">
    {% assign slides = (site.posts | sort: 'order') %}
    {% for post in slides %}
      {% if post.tag contains 'hero' %}
        <div id="xhema" class="carousel-item container-fluid" {% if post.image %} style="background: url({{ site.baseurl }}/images/posts/{{ post.image }});" {% endif %}>
          <div id="banner-color-overlay"></div>
          <!-- <div class="loader"></div> -->
          <div class="row align-items-center position-absolute">
            <div class="banner-text col-md-12">
              {{ post.content }}
            </div>
          </div>
        </div> <!-- /.container-full -->
      {% endif %}
    {% endfor %}
    <div class="arrow bounce"><i class="fas fa-chevron-down"></i></div>
  </div>
</div>
