<div id="island-retreat-open" class="my-gallery" tabindex="-1" role="dialog" aria-hidden="true">

  <div id="island-retreat" class="carousel carousel-port slide" data-ride="carousel">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="fas fa-times"></i>
      Close
    </button>

    <div class="carousel-inner">

    <div class="carousel-item active">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/001.JPG">
            <img class="lazy d-block w-100" data-src="{{ site.baseurl }}/images/posts/country/island-retreat/001.JPG" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/002.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/002.jpg" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/003.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/003.jpg" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/004.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/004.jpg" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/005.JPG">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/005.JPG" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/006.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/006.jpg" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/007.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/007.jpg" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/008.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/008.jpg" alt="Island Retreat" />
        </a>
    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/country/island-retreat/009.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/country/island-retreat/009.jpg" alt="Island Retreat" />
        </a>
    </div>

  </div>

  <a class="carousel-control-prev" href="#island-retreat" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#island-retreat" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  </div>
</div>
