<div id="island-retreat-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/001.JPG" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/001.JPG" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/002.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/002.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/003.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/003.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/004.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/004.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/005.JPG" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/005.JPG" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/006.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/006.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/007.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/007.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/008.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/008.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/island-retreat/009.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/country/island-retreat/009.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>

</div>
