<div id="jones-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-001.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-001.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-002.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-002.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-003.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-003.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-004.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-004.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-005.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-005.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-006.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-006.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-007.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-007.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-008.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-008.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-009.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-009.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-010.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-010.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-011.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-011.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-012.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-012.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-013.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-013.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-014.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-014.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-015.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-015.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/country/jones/jones-016.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="{{ site.baseurl }}/images/posts/country/jones/jones-016.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
