<!-- // City Modals -->
<div id="city-grid" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></button>
            {% include city-portfolio-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="432-park-avenue-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include 432-park-avenue-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="gramercy-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include gramercy-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="96street-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
              {% include 96-street-townhouse-grid.html %}
          </div>
      </div>
  </div>
</div>

<!-- // Country Modals -->
<div id="country-grid" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></button>
            {% include country-portfolio-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="48-pear-lane-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include 48-pear-lane-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="221-roundhill-road-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include 221-roundhill-road-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="chateau-ridge-road-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include chateau-ridge-road-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="harbour-island-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include harbour-island-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="georgian-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
            {% include georgian-estate-grid.html %}
          </div>
      </div>
  </div>
</div>

<div id="hamptons-modal" class="modal fade grid-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-angle-left"></i></button>
              {% include hamptons-grid.html %}
          </div>
      </div>
  </div>
</div>
