{% for post in site.posts %}
{% if post.tags contains 'our-portfolios' %}
<article>
  <div class="row card-row position-relative portfolio">
    <div data-aos="fade-right" data-aos-offset="300" class="col-md-6 portfolio-item city-pop">{% include portfolio-city.html %}</div>
    <div data-aos="fade-left" data-aos-offset="350" class="col-md-6 portfolio-item country-pop">{% include portfolio-country.html %}</div>
  </div>
</article>
{% endif %}
{% endfor %}

<!-- City Portfolio Items -->
{% include city-portfolio-grid.html %}

<!-- Country Portfolio Items -->
{% include country-portfolio-grid.html %}
