<div id="park-ave-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-1.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-1.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-2.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-2.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-3.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-3.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-4.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-4.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-5.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-5.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-6.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-6.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-7.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-7.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-8.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-8.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-9.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-9.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-10.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-10.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-11.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-11.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-12.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-12.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-13.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-13.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-14.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" src="{{ site.baseurl }}/images/posts/city/park-ave-co-op/park-ave-14.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
