<div class="city col-md-12 text-center mb-1 mt-1">
  <img class="img-fluid" src="{{ site.baseurl }}images/posts/834-fifth-avenue.jpg" alt="City Portfolio" />
  <div id="banner-color-overlay"></div>
  <h3 class="mb-3">City <hr></h3>
  <p class="p-5 caption">You are looking at 834 Fifth Avenue, arguably the most prestigious addess in Manhattan. Xhema's portfolio of extraordinary New York City residences includes four separate floors in this exclusive building. <span>View Projects from the Manhattan Portfolio <i class="fas fa-caret-right"></i></span></p>
</div>
