<div class="country col-md-12 text-center mb-1 mt-1">
  <img class="img-fluid" src="{{ site.baseurl }}images/posts/country/30-john-street/john-street-1.jpg" alt="Country Portfolio" />
  <div id="banner-color-overlay"></div>
  <h3 class="mb-3">Country <hr></h3>
  <p class="p-5 caption">From the Hamptons to Westchester, New Jersey to Connecticut, Xhema has built estates for over forty years on a single premise: no estate is too big and no detail too small for perfection. <span>View Projects from the Tri-State Area Portfolio <i class="fas fa-caret-right"></i></span></p>
</div>
