<div class="row card-row mx-auto press-header">

  <div class="col-md-12 cardcontent text-left">
    <h2 class="col-md-2">In The Press</h2>
    <p class="col-md-8">It is rare that a builder receives accolades and reviews normally reserved for artists and entertainers. But Xhema is a rare and unique resource for those who build at the pinnacle of construction. Above you will find a sampling of press coverage for our firm’s work.</p>
  </div>

  <div class="col-md-12 press-thumbs text-left">
    <ul>
      <li><a id="ArchitectDigestGeorgianThumb" data="#ArchitectDigestGeorgian"><img class="lazy" src="{{ site.baseurl }}/images/posts/press/architectual-digest-georgian-country-house/architectual-digest-georgian-cover.jpg" /></a></li>
      <li><a id="NYSpacesThumb" data="#NYSpaces"><img class="lazy" src="{{ site.baseurl }}/images/posts/press/ny-spaces/press-ny-spaces-cover.jpg" /></a></li>
      <li><a id="RobReportjimXhemaThumb" data="#RobReportjimXhema"><img class="lazy" src="{{ site.baseurl }}/images/posts/press/rob-report-luxury-home-jim-xhema/rob-report-luxury-home-jim-xhema-cover.jpg" /></a></li>
      <li><a id="ArchitectDigestCentralParkThumb" data="#ArchitectDigestCentralPark"><img class="lazy" src="{{ site.baseurl }}/images/posts/press/architectual-digest-central-park-south/architectual-digest-central-park-cover.jpg" /></a></li>
      <li><a id="RobReportGramercyParkThumb" data="#RobReportGramercyPark"><img class="lazy" src="{{ site.baseurl }}/images/posts/press/rob-report-luxury-home-gramercy-townhouse/rob-report-luxury-home-gramercy-cover.jpg" /></a></li>
      <li><a id="WMagazineApartmentThumb" data="#WMagazineApartment"><img class="lazy" src="{{ site.baseurl }}/images/posts/press/w-magazine-decorators-apartment/w-magazine-apartment-cover.jpg" /></a></li>
    </ul>
  </div>

  {% include architectual-digest-georgian-country-home-carousel.html %}
  {% include ny-spaces-carousel.html %}
  {% include rob-report-luxury-homes-jim-xhema-carousel.html %}
  {% include architectual-digest-central-park-carousel.html %}
  {% include rob-report-luxury-homes-gramercy-park-carousel.html %}
  {% include w-magazine-apartment-carousel.html %}

</div>
