<div class="row card-row mx-auto press-header">

  <div class="col-md-6 col-sm-12 cardcontent text-left">
    <h2 class="col-md-4 col-sm-12">In The Press</h2>
    <p class="col-md-6 col-sm-12">It is rare that a builder receives accolades and reviews normally reserved for artists and entertainers. But Xhema is a rare and unique resource for those who build at the pinnacle of construction. Here you will find a sampling of press coverage for our firm’s work.</p>
  </div>

  <div class="container-fluid col-md-6 col-sm-12">
      <div id="carouselPressControls" class="carousel slide carousel-press-thumbs" data-ride="carousel" data-interval="false">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">

              <div class="carousel-item col-md-2 active">
                  <a id="ArchitectDigest2017Thumb" data="#ArchitectDigest2017"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/architectual-digest-2017/architectual-digest-2017-cover.jpg" /></a>
              </div>
              <div class="carousel-item col-md-2">
                  <a id="WMagazine2009Thumb" data="#WMagazine2009"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/w-magazine-2009/w-magazine-2009-cover.jpg" /></a>
              </div>
              <div class="carousel-item col-md-2">
                  <a id="ArchitectDigestGeorgianThumb" data="#ArchitectDigestGeorgian"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/architectual-digest-georgian-country-house/architectual-digest-georgian-cover.jpg" /></a>
              </div>
              <div class="carousel-item col-md-2">
                  <a id="NYSpacesThumb" data="#NYSpaces"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/ny-spaces/press-ny-spaces-cover.jpg" /></a>
              </div>
              <div class="carousel-item col-md-2">
                  <a id="ArchitectDigestCentralParkThumb" data="#ArchitectDigestCentralPark"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/architectual-digest-central-park-south/architectual-digest-central-park-cover.jpg" /></a>
              </div>
              <div class="carousel-item col-md-2">
                  <a id="RobReportGramercyParkThumb" data="#RobReportGramercyPark"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/rob-report-luxury-home-gramercy-townhouse/rob-report-luxury-home-gramercy-cover.jpg" /></a>
              </div>
              <div class="carousel-item col-md-2">
                  <a id="WMagazineApartmentThumb" data="#WMagazineApartment"><img class="d-block w-100" src="{{ site.baseurl }}images/posts/press/w-magazine-decorators-apartment/w-magazine-apartment-cover.jpg" /></a>
              </div>

          </div>
          <a class="carousel-control-prev" href="#carouselPressControls" role="button" data-slide="prev">
              <i class="fa fa-chevron-left fa-lg text-muted"></i>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-faded" href="#carouselPressControls" role="button" data-slide="next">
              <i class="fa fa-chevron-right fa-lg text-muted"></i>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>

  {% include architectual-digest-georgian-country-home-carousel.html %}
  {% include ny-spaces-carousel.html %}
  {% include architectual-digest-2017-carousel.html %}
  {% include architectual-digest-central-park-carousel.html %}
  {% include rob-report-luxury-homes-gramercy-park-carousel.html %}
  {% include w-magazine-apartment-carousel.html %}
  {% include w-magazine-2009-carousel.html %}

</div>
