<div id="sleek-contemporary-open" class="my-gallery" tabindex="-1" role="dialog" aria-hidden="true">

  <div id="sleek-contemporary" class="carousel carousel-port slide" data-ride="carousel">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="fas fa-times"></i>
      Close
    </button>

    <div class="carousel-inner">

    <div class="carousel-item active">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_1.jpg">
            <img class="lazy d-block w-100" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_1.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_2.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_2.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_3.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_3.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_4.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_4.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_5.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_5.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_6.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_6.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_7.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_7.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_11.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_11.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_12.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_12.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_13.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_13.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_14.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_14.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_15.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_15.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_16.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_16.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_17.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_17.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_18.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_18.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_19.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_19.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_20.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_20.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

    <div class="carousel-item">
        <a target="_blank" href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_21.jpg">
            <img class="d-block w-100" src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_21.jpg" alt="Sleek Contemporary" />
        </a>

    </div>

  </div>

  <a class="carousel-control-prev" href="#sleek-contemporary" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#sleek-contemporary" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  </div>
</div>
