<div id="sleek-contemporary-open" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_1.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_1.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_2.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_2.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_3.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_3.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_4.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_4.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_5.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_5.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_6.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_6.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_7.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_7.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_11.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_11.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_12.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_12.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_13.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_13.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_14.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_14.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_15.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_15.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_16.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_16.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_17.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_17.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_18.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_18.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_19.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_19.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_20.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_20.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_21.jpg" itemprop="contentUrl" data-size="600x400">
            <img class="lazy" data-src="{{ site.baseurl }}/images/posts/city/sleek-contemporary/Bcn_21.jpg" itemprop="thumbnail" alt="Image description" />
        </a>

    </figure>

</div>
