<div id="thanks" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-screen">
      <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="far fa-times-circle"></span>
            </button>
            <div class="subscribe-message-success">
              <h2>Thank you, your request has been submitted to our staff. We will be in touch shortly.</h2>
            </div>
          </div>
      </div>
  </div>
</div>
