<form id="get-started" accept-charset="UTF-8" action="http://formspree.io/brenthack35@gmail.com" method="POST">
  <div class="landing-control-group">

    <div class="landing-inputs">
      <input class="landing-input" type="text" name="name" placeholder="Your Name" data-val="true" data-val-required="Name Required!" required="required">
    </div>

    <div class="landing-inputs">
      <input class="landing-input" type="email" name="email" placeholder="Your Email" data-val="true" data-val-required="Email Required!" required="required">
    </div>

    <div class="landing-inputs">
      <input class="landing-input" type="text" name="subject" placeholder="Subject">
    </div>

    <div class="landing-inputs">
      <textarea class="landing-input" type="text" name="message" placeholder="Type Your Message"></textarea>
    </div>

    <div class="landing-inputs">
      <button id="landing-submit-button" class="btn btn-primary landing-page-button" type="submit">Submit</button>
    </div>

  </div>
</form>
