section {
  &#footer {
    background: $grey-dark;
    color: $color-white;
    padding: 2em 0 0;
  }

  &#post-body{
    background: $color-white;
  }
}

section {
  &#footer {
      margin-top: 0 !important;
      @include mobile {
        padding: .4em 0 .4em 0;
      }
  }
}

footer {
  color: $color-white;
  &.container {
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0 auto;
    text-align: left;
    color: $color-white;
    @include desktop {
      width: 75%;
    }
    @include tablet {
      width: 75%;
    }
    @include mobile {
      width: 100%;
    }
    .text-center {
        color: $color-white;
        text-align: center;
    }
    p {
      color: $color-white;
      @include mobile {
        text-align: left;
        font-size: .8em;
      }
    }
    a {
      color: $color-white;
      &.active,
      &:active,
      &:hover {
        color: $color-white;
      }
    }
  }

  address {
    float: left;
    width: 33.33%;
    margin: 0 0 2em;
    text-align: center;
    @include mobile {
      float: none;
      width: 50%;
      margin: 0 auto 1em;
      text-align: left;
      font-size: .8em;
    }
  }
  .list-inline {
      padding-left: 0;
      list-style: none;
      margin: 1em 0;
      display: block;
  }
}
