// Contact BS modal changes
// main modals
.modal-backdrop.show {
  opacity: 1.0 !important;
}
.modal {
  .modal-content {
    background: none;
    @include box-shadow(none);
    border: none;
  }
}

.grid-modal {
  .modal-body {
    background: #FFF;
  }
}

.modal-full-screen {
  overflow: auto;
  width: 100%;
  height: auto;
  @include mobile {
    height: auto;
  }
  margin: 0;
  top: 0;
  left: 0;
  background: #FFF;
  .modal-content {
    height: 100%;
    border-radius: 0;
    padding: 6em 3em !important;
      @include mobile {
        padding: 6em 1em !important;
      }
    @include transition(all, .3s);
    @media (min-width: 1200px) {
      padding-left: 15%;
      padding-right: 15%;
    }
    .modal-header {border: none;}
    .btn {border: none;}
  }
}

.modal-error {
  height: 200px;
  top: calc(50% - 100px) !important;
  .modal-content{
    border-radius: 0;
    .alert-mc {
      padding: 15px;
      h1 {
        color: tomato;
        margin: 0;
      }
    }
  }
}
button.close {
  z-index: 4000;
  color: $grey-dark;
  font-weight: normal;
  @include opacity(1,100);
  left: 0em;
  position: relative;
  top: 0em;
  font-size: 2.5em;
  @include mobile {
    top: -1.4em;
    font-size: 1.5em;
  }
  &:hover {
    color: $grey-dark;
  }
}

// fix for BS4 max-width of 600px
@media (min-width: 576px) {
.modal-dialog {
    max-width: 100%;
  }
}


#thanks {
  .modal-content {
    button.close { z-index: 9000; }
  }
  h1, h2, h3 {
    color: white !important;
    font-size: 3em !important;
  }
}
