
#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background: none;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000 url("/2018-Site-Build/images/svg/expand.svg") no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:100%;
        margin-bottom: 1rem;
    }
}



// Gallery

.gal-container{
	padding: 12px;
  margin: 0 auto;

.gal-item{
	overflow: hidden;
	padding: 3px;
  display: inline-block;
  margin: 0 auto;
  .box {
  	height: 350px;
  	overflow: hidden;
    img{
    	height: 100%;
    	width: 100%;
    	object-fit:cover;
    	-o-object-fit:cover;
    }
  }
  a:focus{
  	outline: none;
  }
  a:after{
  	content:"\f00e";
  	font-family: 'Font Awesome 5 Free';
  	opacity: 0;
  	background-color: rgba(0, 0, 0, 0.75);
  	position: absolute;
  	right: 3px;
  	left: 3px;
  	top: 3px;
  	bottom: 3px;
  	text-align: center;
      line-height: 350px;
      font-size: 30px;
      color: #fff;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
  }
  a:hover:after{
  	opacity: 1;
  }

}
}
