#city-port,
#country-port {
  display: none;
  position: relative;;
  top:0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  .ml-2, .mx-2 {
    @include mobile {
      margin-left: 0rem !important;
      margin-right: 0rem !important;
    }
  }

  .btn {
    background: $color-orange;
    color: $color-white;
    cursor: pointer;
    border: none;
    width: 25%;
    height: 53px;
    display: block;
    margin: 9px auto;
    float: none;
    font-size: 1em;

    @include mobile {
      width: 100%;
      height: 36px;
      display: block;
      margin: 20px auto;
    }

    &:hover {
      @include transition(all, .3s);
      background: darken($color-orange, 10%);
      color: $color-white;
    }
  }
}
#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background: none;
    display: inline-block;
    width: 100%;

    .ninty-six-street {
      img {
        position: relative;
        top: -85%;
        @include mobile {
          top:0px;
        }
      }
    }

    li {
        display: inline-block;
        *display:inline;/*for IE6 - IE7*/
        vertical-align:middle;
        box-sizing:border-box;
        margin:15px auto;
        padding:0;
        width: 100% !important;
        height: 400px;
        max-width: 47%;
        @include mobile {
          margin:15px auto 0;
          width: 100% !important;
          height: auto;
          max-width: 100%;
        }

       a {
         height: 400px;
         width: auto;
         overflow: hidden;
         @include mobile {
           height: auto;
           width: 100%;
           max-width: 100%;
         }
       }
       img {
         position: relative;
         top: -80px;
         @include mobile {
           top:0px;
         }
       }
    }
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000 url("/images/svg/expand.svg") no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.4;
}

/* If have captions */

.rig-text.text-close {
  display: none;
}
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:normal;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
    strong {
      font-weight: bold;
      font-size: 20px;
    }
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:100%;
        margin-bottom: 1rem;
    }
}

.modal-open {
  @include mobile {
    overflow: auto;
  }
}


.my-gallery {
  display: none;
  z-index: 9999;
  position: relative;
  width: 100%;

  @include mobile {
    top: 4em;
    overflow: auto;
  }

  .carousel {
    width: 50%;
    height: 600px;
    position: relative;
    margin: 10% auto;

    @include mobile {
      width: 90%;
      margin: 0 auto;
      overflow: auto;
    }

    .carousel-inner {

      @include mobile {
        height: auto;
        overflow: auto;
      }

      .carousel-item {

        @include mobile {
          display: block;
        }

        a {
          width: 100%;
          height: auto;
          margin: 0 auto;

          img {
            width: auto !important;
            height: 100% !important;
            max-width: 100%;
            text-align: center;
            margin: 0 auto;
            @include mobile {
              width: 100% !important;
              height: auto !important;
            }
          }
        }
      }
    }
  }
  button.close {
    left: 0em;
    top: -2em;
    opacity: 0.4;
    color: $color-white;
    font-size: 1em;
    text-shadow: none;
    font-family: $font--family--serif;
    text-transform: uppercase;
    &:hover {
      @include transition(all, .3s);
      opacity: 0.8;
      color: $color-white;
    }
  }
  .carousel-control-next {
    right: -15%;
    opacity: 0.4;
    color: $color-white;
    &:hover {
      @include transition(all, .3s);
      opacity: 0.8;
      color: $color-white;
    }
    @include mobile {
      display: none;
    }
  }
  .carousel-control-prev {
    left: -15%;
    opacity: 0.4;
    color: $color-white;
    &:hover {
      @include transition(all, .3s);
      opacity: 0.8;
      color: $color-white;
    }
    @include mobile {
      display: none;
    }
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
  }

}
