#NYSpaces,
#ArchitectDigestCentralPark,
#ArchitectDigestGeorgian,
#RobReportGramercyPark,
#RobReportjimXhema,
#WMagazineApartment {
	display: none;
}


.press-thumbs {
	display: inline-block;
	position: relative;
	z-index: 999;
	ul {
		float: right;
		width: auto;

		@include mobile {
			float: none;
			width: 100%;
			padding: 0 0;
			margin: 1em auto;
		}

		li {
			display: inline-block;
			width: 80px;
			height: auto;
			overflow: hidden;
			margin: 0 .3em;

			@include mobile {
		    width: 90px;
		    margin: 0 .33em;
			}

			a {
				cursor: pointer;
				display: inline-block;
				img {
					width: 100%;
			    height: auto;
			    max-width: 100%;
				}
			}
		}
	}
}
// Carousel fade transition
.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity 1.5s ease-in-out;

		&.active {
			opacity: 1;
		}
	}
}

.carousel-control-next,
.carousel-control-prev {
    opacity: .8;
}


 // Custom styles for this pen
html,
body,
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
	@include mobile {
    height: 100%;
		margin: 0 0 .8em 0;
  }

	img.img-fluid {
		width: 100%;
	}
}

// Loader
.loader {
    border: 16px solid rgba($grey-light, 0.5); /* Light grey */
    border-top: 16px solid rgba(0,0,0,0.8); /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
