<!DOCTYPE html>
<html>

  {% include addthis.html %}
  {% include head.html %}

  <body>

    <!-- City Portfolio's -->
    <div id="city-data">
      {% include dsc.html %}
      {% include 432-park-avenue-grid.html %}
      {% include gramercy-grid.html %}
      {% include 96-street-townhouse-grid.html %}
      {% include 12-east-82nd-street-grid.html %}
      {% include 464-greenwich-grid.html %}
      {% include park-ave-grid.html %}
      {% include sleek-contemporary-grid.html %}
    </div>
    <!-- Country Portfolio's -->
    <div id="country-data">
      {% include 48-pear-lane-grid.html %}
      {% include 221-roundhill-road-grid.html %}
      {% include chateau-ridge-road-grid.html %}
      {% include harbour-island-grid.html %}
      {% include georgian-estate-grid.html %}
      {% include 30-john-street-grid.html %}
      {% include hamptons-grid.html %}
      {% include belle-haven-coast-grid.html %}
      {% include greenwich-waterfront-grid.html %}
    </div>

    <!-- Start Header -->
    {% include header.html %}
    {% include home-banner.html %}

    <section id="about">
      <div class="container" data-aos="fade-down" data-aos-offset="300" data-aos-once="true">

        {% include about.html %}

      </div><!-- /.container -->
    </section><!-- /#about -->

    <section id="portfolio">
      <div class="container-fluid">

        {% include our-portfolios.html %}

      </div><!-- /.container -->
    </section><!-- /#portfolio -->

    <section id="capabilities">
      <div class="container" data-aos="fade-down" data-aos-offset="300" data-aos-once="true">

        {% include capabilities.html %}

      </div><!-- /.container -->
    </section><!-- /#capabilities -->

    <section id="photos">
      <div class="container-fluid col-lg-12">
        <ul>
          <li class="col-lg-3"><img class="first lazy" data-src="{{ site.baseurl }}images/posts/city/gramercy/Gramercy-002.jpg" alt="Study"></li>
          <li class="col-lg-3"><img class="second lazy" data-src="{{ site.baseurl }}images/posts/city/96th-street-townhouse/96th-027.jpg" alt="Hallway"></li>
          <li class="col-lg-3"><img class="third lazy" data-src="{{ site.baseurl }}images/posts/country/greenwich-waterfront/jones-002.jpg" alt="Staircase"></li>
          <li class="col-lg-3"><img class="fourth lazy" data-src="{{ site.baseurl }}images/posts/country/30-john-street/john-street-15.jpg" alt="Pool"></li>
        </ul>
      </div>
    </section>

    <section id="press">
      <div class="container-fluid" data-aos="fade-down" data-aos-offset="300" data-aos-once="true">

        {% include press.html %}

      </div><!-- /.container -->
    </section><!-- /#press -->

    <section id="contact">
      <div class="container-fluid">

          {% include contact.html %}

      </div><!-- /.container -->
    </section><!-- /#contact -->

    {% include footer.html %}
    {% include script.html %}

  </body>

</html>
